@model BioCenas.Models.RestricaoAlimentarMDL

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RestricaoAlimentarMDL</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesignacaoRestricaoAlimentar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesignacaoRestricaoAlimentar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoRestricaoAlimentar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoRestricaoAlimentar)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID_RestricaoAlimentar">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
