@model IEnumerable<BioCenas.Models.DescritivoEncomendaMDL>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_Encomenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_Produto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QTProduto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Encomenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Produto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QTProduto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DescritivoEncomenda">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DescritivoEncomenda">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DescritivoEncomenda">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
